In [2]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [3]:
forestfire = pd.read_csv('forestfires.csv')

In [4]:
forestfire.head(5)

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [5]:
forestfire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X       517 non-null    int64
 1   Y       517 non-null    int64
 2   month   517 non-null    object
 3   day     517 non-null    object
 4   FFMC    517 non-null    float64
 5   DMC     517 non-null    float64
 6   DC      517 non-null    float64
 7   ISI     517 non-null    float64
 8   temp    517 non-null    float64
 9   RH      517 non-null    int64
 10  wind    517 non-null    float64
 11  rain    517 non-null    float64
 12  area    517 non-null    float64
dtypes: float64(8), int64(3), object(2)
memory usage: 52.6+ KB

In [6]:
forestfire.describe()

,X,Y,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area
count,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000
mean,4.669246,4.299807,90.644681,110.872340,547.940039,9.021663,18.889168,44.288201,4.017602,0.021663,12.847292
std,2.313778,1.229900,5.520111,64.046482,248.066192,4.559477,5.806625,16.317469,1.791653,0.295959,63.655818
min,1.000000,2.000000,18.700000,1.100000,7.900000,0.000000,2.200000,15.000000,0.400000,0.000000,0.000000
25%,3.000000,4.000000,90.200000,68.600000,437.700000,6.500000,15.500000,33.000000,2.700000,0.000000,0.000000
50%,4.000000,4.000000,91.600000,108.300000,664.200000,8.400000,19.300000,42.000000,4.000000,0.000000,0.520000
75%,7.000000,5.000000,92.900000,142.400000,713.900000,10.800000,22.800000,53.000000,4.900000,0.000000,6.570000
max,9.000000,9.000000,96.200000,291.300000,860.600000,56.100000,33.300000,100.000000,9.400000,6.400000,1090.840000

In [7]:
forestfire.dtypes

X          int64
Y          int64
month     object
day       object
FFMC     float64
DMC      float64
DC       float64
ISI      float64
temp     float64
RH         int64
wind     float64
rain     float64
area     float64
dtype: object

In [8]:
# Finding out the distribution of the data
for column in data:
    sns.displot(data[column], bins = 1000)
    plt.show

In [11]:
# Checking the linearity
reg_data = data.copy()
target = reg_data.area
reg_data = reg_data.drop(columns = ['area','day','month'])

NameError: name 'data' is not defined

In [ ]:
for column in reg_data:
    sns.regplot(x = reg_data[column],y = target)
    plt.legend()
    plt.tight_layout()
    plt.show()

In [ ]:
# box plots because of outliers

for columns in reg_data:
    print(columns)
    sns.violinplot(reg_data[columns])
    plt.show()

In [ ]:
# Violin plot sow that outliers are worst for rain, ISI and FFMC columns.

In [ ]:
#Checking for colinearity
corr = reg_data.corr()
#Masking the repeated values, we first create an array with the size of the corr, and then we use trui to remove the upper triangles
mask = np.zeros_like(corr)
# Removes the upper half of a triangle
#needs some configurations
uppertriangle = np.triu_indices(10)
mask[uppertriangle] = 1

# generate heatmap
plt.figure(figsize= (12,12))
sns.heatmap(corr, annot=True, center=0, mask=mask, cmap='gnuplot')
plt.show()

#print(mask)

In [ ]:
#fixing the time axis and running the ml program
#months = pd.unique(data['month']) # Not sorted months
#weekdays = pd.unique(data['day']) # not sorted days
#values_days = [i for i in range(len(weekdays))]
#values_months = [i for i in range(len(months))]
#data_numeric = data.replace(weekdays,values_days)
#data_numeric = data_numeric.replace(months,values_months)

In [ ]:
# Applying the machine learning 
X = data_numeric.drop(columns='area') 
y = data_numeric['area'].ravel().reshape(-1,1)

In [ ]:
train_size = 0.7
val_size = 0.15
test_size = 0.15

train_start = 0
train_end = int(train_size*len(X))
val_start = train_end
val_end = int((train_size + val_size)*len(X))
test_start = val_end

In [ ]:
# splitting
train_X = X[0:train_end]
train_y = y[0:train_end]
val_X = X[val_start:val_end]
val_y = y[val_start:val_end]
test_X = X[test_start:]
test_y = y[test_start:]

In [ ]:
# Scalling 

scaled_X = StandardScaler().fit(train_X)
scaled_y = StandardScaler().fit(train_y)

train_X = scaled_X.transform(train_X)
train_y = scaled_y.transform(train_y)
val_X = scaled_X.transform(val_X)
val_y = scaled_y.transform(val_y)
test_X = scaled_X.transform(test_X)
test_y = scaled_y.transform(test_y)

print(np.mean(test_X),np.std(test_X))
print(np.mean(train_X),np.std(train_X))

In [ ]:
model_lr = LinearRegression().fit(train_X,train_y)

In [ ]:
print(model_lr.score(X,y))
print(model_lr.coef_)

In [ ]:
# Removing outliers and fixing the month and day axises